<div class="about row">

    <div class="col-md-12">

       <h2>About me </h2>

       <p>
          一位奋斗在魔都的老码农，Java攻城狮出身，目前在一家互联网金融公司做技术，关注后端技术分享。
       </p>

       <p>热爱编码、热爱开源、热爱户外、热爱生活</p>

        <p><strong>About name</strong></p>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
         
        </ul>
 

       <h2>
         Note
       </h2>

        <p>
         声明：博客文章全部来自互联网转载，非本人原创。如有侵权请告知，谢谢。
       </p>
    </div>

</div>
